body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    height: 100vh;
    margin: 0;
    display: grid;
    place-items: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: auto;
    padding: 0 90px;
    border-bottom: 1px solid #979797;
    position: relative;
}

nav a {
    font-size: 12px;
    text-transform: uppercase;
    color: #979797;
    text-decoration: none;
    white-space: nowrap;
    margin: 0 10px;
    padding: 0 15px;
}

nav a:hover {
    color: #0088CC
}

nav a.active {
    color: #000000;
}

nav a.active:hover {
    color: #000000;
    cursor: default;
}

nav .animation {
    position: absolute;
    height: 1px;
    bottom: 0;
    background: #000000;
    transition: all .5s ease 0s;
}